{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:day01 {:main-opts ["-m" "day01"]}
  :day02 {:main-opts ["-m" "day02"]}
  :day03 {:main-opts ["-m" "day03"]}
  :day04 {:main-opts ["-m" "day04"]}
  :day05 {:main-opts ["-m" "day05"]}
  :day06 {:main-opts ["-m" "day06"]}

  }}
